.dropdown {
  /* position: relative; */

  &--rent {
    width: 45%;
  }

  &--about {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  &__title {
    width: 100%;
    background-color: $color-primary;
    color: $white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
  }

  &__content {
    /* position: absolute;
    top: 100%;
    left: 0; */
    background-color: $color-secondary;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 600px) {
  .dropdown {
    width: 100%;
    margin-bottom: 20px;
  }
}
