.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  margin-top: 40px;
  padding: 40px;
  color: $white;

  img {
    width: 122px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    &__text {
      font-size: 12px;
    }
  }
}
