.tags {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background-color: $color-primary;
  font-size: 14px;
  border-radius: 15px;
  padding: 10px 40px;
  margin-right: 10px;

  &-container {
    display: flex;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .tags {
    padding: 5px 20px;
    font-size: 10px;
    border-radius: 10px;
  }
}
