.about {
  margin-left: 100px;
  margin-right: 100px;
  color: $color-primary;
}
@media screen and (max-width: 600px) {
  .about {
    margin-left: 20px;
    margin-right: 20px;

    &-container {
      margin-bottom: 168px;
    }
  }
}
