.rental {
  margin-left: 100px;
  margin-right: 100px;
  color: $color-primary;

  &__information {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__title {
    margin-top: 20px;

    &--first {
      font-size: 36px;
    }

    &--second {
      font-size: 18px;
    }
  }

  &__host {
    display: flex;
    align-items: center;
    margin-top: 20px;

    p {
      font-size: 18px;
      text-align: end;
      margin-right: 15px;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }

  &__tags-stars {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
